<nav class="navbar navbar navbar-expand-lg bd-navbar x">
  <div class="container-fluid">
    <a class="navbar-brand text-decoration-non" routerLink="/">
      <span class="fa fa-youtube-play fa-icons" aria-hidden="true"></span>
      <span class="app-title pl-1 font-weight-bold">CODA</span>
    </a>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <span class="fa fa-home fa-icons" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
